name: js actions
on: [push]
jobs:
  hello-world-js-actions:
    runs-on: ubuntu-latest
    steps:
      - name: simple js actions
        id: greet
        uses: sateesh-github/hello-world-javascript-action@main
        with:
          who-to-greet: sateesh
      - name: Log greeting toTimeString
        run: echo "{{steps.greet.outputs.time}}"
