name: second poc file on git runner
on: [push]
jobs:
  run-simple02:
    runs-on: ubuntu-20.04
    steps:
      - name: display ls value
        run: ls -ltr
      - name: display value
        run: touch file1 file2
