name: second poc file on git runner
on: [push]
jobs:
  run-simple02:
    runs-on: ubuntu-20.04
    steps:
      - name: display ls value
        run: pwd
      - name: display value
        run: less /etc/passwd
      - name: python commands
        run: |
          import platform
          print(platform.processor())
        shell: python
